<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    
    <div class="container flow">
    <h1 class="uppercase text-accent letter-spacing-1 fs-600 ff-sans-cond">Design System</h1>

    <section id="colours" style="margin: 4rem 0;">
            <h2 class="numbered-title"><span>01</span> colours</h2>
            <div class="flex">
                <div class="flex1 flow">
                    <div style="padding: 3rem 1rem 1rem; border: 1px solid white;">
                        #0B0D17
                    </div>
                    <p> <span class="text-accent">RGB</span> 11, 13, 23</p>
                    <p> <span class="text-accent">HSL</span> 230%, 35%, 7%</p>
                </div>

                <div class="flex1 flow">
                    <div class="bg-accent text-dark" style="padding: 3rem 1rem 1rem; border: 1px solid white;">
                        #0B0D17
                    </div>
                    <p> <span class="text-accent">RGB</span> 11, 13, 23</p>
                    <p> <span class="text-accent">HSL</span> 230%, 35%, 7%</p>
                </div>

                <div class="flex1 flow">
                    <div class="bg-white text-dark" style="padding: 3rem 1rem 1rem; border: 1px solid white;">
                        #0B0D17
                    </div>
                    <p> <span class="text-accent">RGB</span> 11, 13, 23</p>
                    <p> <span class="text-accent">HSL</span> 230%, 35%, 7%</p>
                </div>
            </div>
    </section>

    <section class="flow" id="typography" style="margin: 4rem 0;">
            <h2 class="numbered-title"><span>02</span> typography</h2>
            <div class="flex">
                <div class="flex1 flow" style="--flow-space:4rem;">
                    <div>
                        <p class="text-accent">Heading 1 - Bellefair Regular - 150px</p>
                        <p class="fs-900 ff-serif uppercase">Earth</p>
                    </div>
                    <div>
                        <p class="text-accent">Heading 2 - Bellefair Regular - 100px</p>
                        <p class="fs-800 ff-serif uppercase">Venus</p>
                    </div>
                    <div>
                        <p class="text-accent">Heading 3 - Bellefair Regular - 56px</p>
                        <p class="fs-700 ff-serif uppercase">Jupiter & Saturn</p>
                    </div>
                    <div>
                        <p class="text-accent">Heading 4 - Bellefair Regular - 32px</p>
                        <p class="fs-600 ff-seiff uppercase">Uranus, Neptune & Pluto</p>
                    </div>
                    <div>
                        <p class="text-accent">Heading 5 - Barlow Condensed Regular - 28px - 4.75 Character Space</p>
                        <p class="fs-500 ff-sans-cond text-accent uppercase letter-spacing-1">So you want to travel to space</p>
                    </div>
                </div>

                <div class="flex1 flow" style="--flow-space:4rem;">
                    <div>
                        <p class="text-accent">Subheading 1 - Bellefair Regular - 28px</p>
                        <p class="fs-500 ff-seiff uppercase">384, 400 km</p>
                    </div>
                    <div>
                        <p class="text-accent">Subheading 2 - Barlow Condensed Regular - 14px - 2.35 Character Space </p>
                        <p class="fs-200 uppercase ff-sans-cond letter-spacing-3">Avg. Distance</p>
                    </div>
                    <div>
                        <p class="text-accent">Nav Text - Barlow Condensed Regular - 16px - 2.7 Character Space</p>
                        <p class="fs-300 uppercase ff-sans-cond letter-spacing-2">Europa</p>
                    </div>
                    <div>
                        <p class="text-accent">Body Text</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat vitae nisi nulla qui, quibusdam perspiciatis tempora, omnis minima quidem ducimus soluta veniam dolorum doloribus nam, officia dignissimos odio ex harum corrupti enim id inventore. Ducimus labore illo repudiandae officiis magni voluptas autem facilis quaerat voluptatem. Aperiam qui modi corrupti quo recusandae sed, doloribus distinctio nesciunt ipsum dolore necessitatibus beatae ut cum consectetur quam adipisci voluptatibus voluptatum? Incidunt ullam aperiam rem dignissimos? Incidunt esse ut sit pariatur tempore. Asperiores perspiciatis quod mollitia, aperiam nisi quo neque at? Maiores, modi voluptatum incidunt ab expedita repudiandae accusantium officia! Illum ratione beatae deleniti voluptatibus.</p>
                    </div>
                </div>
            </div>
    </section>

    <section class="flow" id="interactive-elements">
            <h2 class="numbered-title"><span>03</span>interactive elements</h2>

            <!-- navigation -->
            <div></div>

            <div class="flex">
                <div style="margin-top: 5rem;">
                    <!-- explore button -->
                    <a href="#" class="large-button uppercase fs-600 ff-serif bg-white text-dark">Explore</a>
                </div>
                <div style="margin-bottom:20vh;"></div>
            </div>
    </section>


    
    </div>    
    <script src="app.js"></script>
</body>
</html>
